{% extends 'base.html' %}

{% block content %}
{{ super() }}
    {%- block films -%}
        <div class="dropdown">
          <button class="dropbtn">Сhoose genre</button>
          <div class="dropdown-content">
              {% for genre in genres -%}
                <a class="film_page" href="{{ url_for('index', title=genre.title, menu=menu,
                li_of_films=list_of_films, genres=genres, page=page_num, genre_search=genre.id) }}">{{ genre.title }}</a>
              {% endfor -%}
          </div>
        </div>
          <a class="film_rating" id="rating_button" href="{{ url_for('index', title='Sort by rating', menu=menu,
          li_of_films=list_of_films, genres=genres, page=page_num, genre_search=genre_search, sort_by=1) }}">Sort by rating</a>
        <ul class="list_films">
            {% for m in li_of_films.items -%}
            <li><a class="film_page" href="{{ url_for('film', title=m.title, menu=menu) }}">{{ m.title }}</a></li>
            {% endfor -%}
        </ul>
        {% for page_num in li_of_films.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if li_of_films.page == page_num %}
                    <a class="paginated" href="{{ url_for('index', title=title, menu=menu, li_of_films=list_of_films,
                    genres=genres, page=page_num, genre_search=genre_search, sort_by=sort_by) }}">{{ page_num }}</a>
                {% else %}
                     <a class="pagination" href="{{ url_for('index', title=title, menu=menu, li_of_films=list_of_films,
                      genres=genres, page=page_num, genre_search=genre_search, sort_by=sort_by) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor -%}
    {% endblock films -%}
<br>
<div class="parent_user_page" >
    {% if menu[2]['name'] == 'Logout' %}
    <div class="user_page"><a href="{{ url_for('users', title='Users', menu=menu) }}">Other users watching </a></div>
    {% endif %}
</div>
{% endblock %}