{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div>
    <ul class="list_films">
        {% for one_user in list_of_users -%}
                <li><div><a href="{{ url_for('users', title=one_user.login, menu=menu, user_id=one_user.id,
                username=one_user.login) }}">
                    {{ one_user.login }}</a></div></li>
        {% endfor %}
    </ul>
</div>
<div>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{msg}}</div>
    {% endfor %}
</div><br>
{% if user_id -%}
    <div class="user_list_of_films">
        <h3><big> Movies  of user "{{username}}": </big></h3>
        <ul class="list_films">
            {% for plan_set in plan_sets -%}
                {% if plan_set == "watch" %}
                    <li><strong>should {{ plan_set }}:</strong></li>
                {% else %}
                    <li><strong>{{ plan_set }}:</strong></li>
                {% endif %}
                {% for film, group in user_films_list.items() -%}
                    {% if plan_set == group.sets %}
                        <li><div><a class="film_page" href="{{ url_for('film', title=film.title, menu=menu) }}">
                            {{ film.title }}</a></div></li>
                    {% endif %}
                {% endfor -%}
                <br>
            {% endfor -%}
        </ul>
    </div>
{% endif %}
{% endblock %}
